<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <style>
        body {
            padding-top: 4px;
        }
        </style>

    </head>
    <body bgcolor="#FFFFF0">
        <h1>Command result:</h1>
        <div>
            {% for res in result %}
            <p>{{ res }}</p>
            {% endfor %}
        </div>
        </br>
        <a href="/admin">Enter new command</a></br>
        <a href="/">Back to homepage</a>
    </body>
</html>
