<head>
    <title>{{title}}</title>
</head>
<body bgcolor="#000000" text="#FF9900" link="#0099FF">
    <h1>{{title}}</h1>
    <h2>v{{version}} ({{codename}})</h2>
    </br>
    <h3><strong>Please login to continue...</strong></h3>
    </br>
    <form action="login.py" method="post">
        Username: <input type="username" name="username"></br>
        Password:  <input type="password" name="password"></br>

        <input type="submit" value="Login">
    </form>
    </br>
    <p>{{copyright}}</p>
</body>
