<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <style>
        body {
            padding-top: 4px;
        }
        </style>

    </head>
    <body bgcolor="#FFFFF0">
        <h2>Notes</h2>
        <ol>
            {% for note in notes %}
            <li>{{ note }}</li>
            {% endfor %}
        </ol>
        </br>
        <form action="/notes/add" method="POST">
            <input type="text" name="note">
            <input type="submit" value="Add new note">
        </form>
        </br>
        <form action="/notes/del" method="POST">
            <input type="text" name="note">
            <input type="submit" value="Remove existing note">
        </form>
        </br/>
        <a href="/">Back to homepage</a>
    </body>
</html>
