<head>
    <title>{{title}}</title>
</head>
<body bgcolor="#000000" text="#FF9900" link="#0099FF">
    <h1>{{title}}</h1>
    <h2>v{{version}} ({{codename}})</h2>
    </br>
    <h3><b>Results</b></h3>
    </br>
    {% for res in result %}
        <p>{{res}}</p>
    {% endfor %}
    </br>
    <p>{{copyright}}</p>
    <form action="terminal.html" method="GET"><input type="submit" value="Enter new command"></form>
    <form action="/" method="GET"><input type="submit" value="Back to homepage"></form>
</body>
