<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <style>
        body {
            padding-top: 4px;
        }
        </style>

    </head>
    <body bgcolor="#FFFFF0">
        <div>
            <h1>File Repository</h1>
            <ul>
                {% for filename in filenames %}
                <li>{{ filename }}</li>
                {% endfor %}
            </ul>
        </div>
        </br>
        <a href="/">Back to homepage</a>
    </body>
</html>
