<head>
    <title>{{title}}</title>
</head>
<body bgcolor="#000000" text="#FF9900" link="#0099FF">
    <h1>{{title}}</h1>
    <h2>v{{version}} ({{codename}})</h2>
    </br>
    <!-- Body goes here... -->

    <!-- NOTE: XSS by attribute injection. To counter this possible attack vector, -->
    <!-- be sure to always quote your attributes with either double or single quotes --> 
    <!-- when using Jinja expressions in them -->
    </br>
    <p>{{copyright}}</p>
    <form action="/" method="GET"><input type="submit" value="Back to homepage"></form>
</body>
